# MySQL
DB_HOST=mysql
DB_PORT=3306
DB_USER=menzhen
DB_PASSWORD=menzhen123
DB_NAME=menzhen

# JWT
JWT_SECRET=change-me-in-production

# MinIO
MINIO_ENDPOINT=minio:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET=menzhen

# Server
SERVER_PORT=8080

# Backup
BACKUP_DIR=/backups
BACKUP_HOUR=2

#Qiniu ObjectStorage
QINIU_ACCESS_KEY=xxxx
QINIU_SECRET_KEY=xxx
QINIU_BUCKET=public
QINIU_KEY_PREFIX=menzhen-backup/

#DeepSeek
DEEPSEEK_API_KEY=xxx
DEEPSEEK_BASE_URL=https://api.qnaigc.com/v1/messages
DEEPSEEK_MODEL=deepseek/deepseek-v3.2-251201
